<% for (comic of inventoryArray) { %>
    <tr>
        <td>
            <%= comic.title %>
        </td>
        <td><button class="button2" type="submit">
                <a href="./admin-console/update-book/<%= comic._id %>">EDIT</a></button>
        </td>
        <td>
            <form action="/books/<%= comic._id %>?_method=DELETE" method="POST"
                enctype="application/x-www-form-urlencoded" class="inline">
                <button class="button1" type="submit">
                    DELETE
                </button>
            </form>
        </td>
    </tr>
    <% } %>

        </tbody>
        </table>
        </div>
        </div>
        </div>