<nav>
    <div>
    <a href="/"><img src="/images/CodeSquad-Comics-logo.png" class="img1" alt="CodeSquad-Comics-Logo"></a>
      </div>
    <div class="nav-1">
      <div class="nav-2"><a href="/" class="link">HOME</a>
        </div>
      <div class="nav-2"><a href="/about" class="link">ABOUT</a>
        </div>
      <div class="nav-2"><a href="/login" class="link">LOGIN</a>
        </div>
        <div class="nav-2"><a href="/register" class="link">REGISTER</a>
        </div>
      </div>
    <div class="menu-icon">
      <a href=""><i class="fa fa-bars"></i></a>
      <ul class="menu-links">
      <li><a href="/" class="link">HOME</a></li>
      <li><a href="/about" class="link">ABOUT</a></li>
      <li><a href="/login" class="link">LOGIN</a></li>
      <li><a href="/register" class="link">REGISTER</a></li>
      </ul>
    </div> 
  </nav>