<%- include('../partials/head') %>

    <%- include('../partials/nav') %>

        <div class="content">
            <div class="window">
                <button class="button1"><a href="/logout/">Logout</a></button>
                <div class="table-responsive">
                    <h1>ADMIN PAGE</h1>
                    <button class="button1"><a href="./admin-console/create-book">ADD NEW COMIC</a></button>
                    <table>
                        <thead>
                            <tr>
                                <th>COMIC TITLE</th>
                                <th>EDIT</th>
                                <th>DELETE</th>
                            </tr>
                        </thead>
                        <tbody>

                            <%- include('../partials/book-listing') %>


                                <%- include('../partials/footer') %>